body {
	font-family: Arial, sans-serif;
	background-color: rgb(54, 54, 75);
  }
  
  h1 {
	font-family: Arial , sans-serif;
	font-size: 35px;
	color: #ddd;
	text-align: center;
  }
  
  form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	max-width: 450px;
	color: #ddd;
	border: 1px solid #ccc;
  	padding: 20px;
	box-shadow: 0px 0px 40px 0px #0000004d;
  }
  
  form label {
	margin: 10px 0;
  }
  
  form input[type="text"], form input[type="number"],form textarea, form input[type="url"] {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid rgb(54, 54, 54);
	width: 300px;
	height: 20px;
	margin-left: 5px;
	margin-right: 10px;
	resize: none;
  }
  
  
  form button[type="submit"] {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #2f32ca;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 15px;
  }

  button[id="editar"]{
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	
  }

  button[id="deletar"]{
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
  }
  
  table {
	margin: auto;
	margin-top: 50px;
	overflow: auto;
  }

  
  th, td {
	padding: 15px;
	border: 1px solid rgb(14, 13, 13);
  }

  tr {
	padding: 15px;
	border: 1px solid rgb(14, 13, 13);
  }


   thead{
	padding: 15px;
	background-color: #000000;
	color: #ccc;
   }
