@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap%27');

body {
    background-color: #207483;
	margin: 0;
	padding: 0;
    }

*{
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Tilt Neon', cursive;
	font-size: 45px;
	color: #ddd;
	text-align: center;
}

form {
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 450px;
	border-radius: 20px;
	font-weight: bolder;
	color: #000000;
	border: 1px solid #ccc;
	padding: 20px;
	box-shadow: 0px 0px 40px 0px #0000004d;
}

form label {
	margin: 10px 0;
}

form input[type="text"],
form input[type="number"],
form textarea,
form input[type="url"] {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid rgb(233, 230, 230);
	height: 20px;
	resize: none;
}


form button[type="submit"] {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #207483;
	font-size: medium;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

button {
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

button[id="editar"] {
	background-color: #bbd480;
}

button[id="deletar"] {
	background-color: #d34545;
}

table {
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-collapse: collapse;
	border: 2px solid rgb(56, 55, 55);
}

th {
	padding: 20px;
	background-color: #000000;
	color: #ffffff;
	border: 2px solid rgb(56, 55, 55);
}

td {
	background-color: #ddd;
	padding: 15px;
	border: 2px solid rgb(56, 55, 55);
}

tr {
	padding: 15px;
	border: 2px solid rgb(56, 55, 55);
}

td[class="acao"] {
	background-color: rgb(0, 0, 0);
	border: 2px solid rgb(56, 55, 55);
}


input[id="pesquisar"] {
	padding: 10px 100px;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding: 5px;
	border-radius: 5px;
	height: 20px;

}