* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 3rem;
    color: #fff;
}

/* Estilo do formulário */
#formulario {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: #333;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

label {
    margin: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #eee;
}

input {
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
    background-color: #555;
    color: #eee;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #eee;
    background-color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[id='adicionar']{
    margin-right: 130px;
}

button:hover {
    background-color: #333;
}

/* Estilo da tabela */
table {
    max-width: 800px;
    margin: 30px auto;
    background-color: #333;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

thead {
    background-color: #222;
    color: #eee;
}

th {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

tbody {
    background-color: #444;
}

tr {
    border-bottom: 1px solid #555;
    
}

td {
    padding: 10px;
    vertical-align: middle;
    color: #eee;
}

tbody tr:nth-child(odd) td {
    background-color: #555;
    }
    
    tbody tr:nth-child(even) td {
    background-color: #666;
    }

#pesquisar {
    margin: 20px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
    background-color: #555;
    color: #fffefe;
}

/* Estilo da imagem */
img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
}